/*
 * vim:ft=less
 */

@import "./matugen-colors.css";

* {
    border: none;
    font-size: 10.5px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-family: 'FiraCode Nerd Font Mono' ;
    background: transparent;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

window#waybar{
    background: alpha(#262626, 0.25);
}


tooltip,menu,menuitem {
    background: alpha(#262626,0.999);
    border-radius: 4px;
    padding: 4px 3px;
}

menuitem:hover {
    background: rgba(255, 255, 255, 0.08);
}

#tray,
#clock,
#hardware,
#laptop {
    padding: 4px 8px;
    border-radius: 8px;
}

#custom-pomodoro{
    margin: 0 0 0 12px;
}

#workspaces{
    min-height: 0;
    padding: 4px 8px 4px 8px;
    margin: 0 8px 0 0;
    border-radius: 0 0 8px 0px;
}

#window{
    margin: 0 8px 0 0;
}

#workspaces button{
    color:transparent;
    background:@surface_container_low;
    border-radius: 9999px;
    min-width: 16px;
    min-height: 8px;
    margin:0 3px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active{
    background-color: @source_color;

    min-width: 32px;
    min-height: 8px;
}

#workspaces button.urgent{
    background-color: @error_container;
}

#workspaces button.empty{
    background-color:@surface_container_lowest ;
}

#custom-swaync{
    margin: 0 12px;
}

#hardware{
    margin:0 12px
}

#battery{
    margin: 0 12px 0 0;
}

#network{
    margin: 0 12px 0 12px
}

#custom-pomod {
  padding: 0 10px;
}

#custom-pomod.idle {
  color: #888888;
}

#custom-pomod.RUNNING {
  color: #ff5555;
}

#custom-pomod.PAUSED {
  color: #f1fa8c;
}


