/*-----All Colors--------*/

@define-color background #19120d;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #382f28;

@define-color inverse_primary #89511f;

@define-color inverse_surface #efdfd6;

@define-color on_background #efdfd6;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #4e2600;

@define-color on_primary_container #ffdcc4;

@define-color on_primary_fixed #2f1400;

@define-color on_primary_fixed_variant #6c3a08;

@define-color on_secondary #422b1a;

@define-color on_secondary_container #ffdcc4;

@define-color on_secondary_fixed #2a1707;

@define-color on_secondary_fixed_variant #5b412f;

@define-color on_surface #efdfd6;

@define-color on_surface_variant #d6c3b7;

@define-color on_tertiary #2f330c;

@define-color on_tertiary_container #e2e7af;

@define-color on_tertiary_fixed #1a1e00;

@define-color on_tertiary_fixed_variant #454a21;

@define-color outline #9f8d82;

@define-color outline_variant #51443b;

@define-color primary #ffb780;

@define-color primary_container #6c3a08;

@define-color primary_fixed #ffdcc4;

@define-color primary_fixed_dim #ffb780;

@define-color scrim #000000;

@define-color secondary #e4c0a6;

@define-color secondary_container #5b412f;

@define-color secondary_fixed #ffdcc4;

@define-color secondary_fixed_dim #e4c0a6;

@define-color shadow #000000;

@define-color source_color #70441f;

@define-color surface #19120d;

@define-color surface_bright #413731;

@define-color surface_container #261e18;

@define-color surface_container_high #312822;

@define-color surface_container_highest #3c332d;

@define-color surface_container_low #221a14;

@define-color surface_container_lowest #140d08;

@define-color surface_dim #19120d;

@define-color surface_tint #ffb780;

@define-color surface_variant #51443b;

@define-color tertiary #c6cb95;

@define-color tertiary_container #454a21;

@define-color tertiary_fixed #e2e7af;

@define-color tertiary_fixed_dim #c6cb95;



