* {
    primary: #9bd4a0;
    primary-fixed: #b6f1ba;
    primary-fixed-dim: #9bd4a0;
    on-primary: #003915;
    on-primary-fixed: #002109;
    on-primary-fixed-variant: #1c5129;
    primary-container: #1c5129;
    on-primary-container: #b6f1ba;
    secondary: #b8ccb6;
    secondary-fixed: #d4e8d1;
    secondary-fixed-dim: #b8ccb6;
    on-secondary: #233425;
    on-secondary-fixed: #0f1f11;
    on-secondary-fixed-variant: #394b3a;
    secondary-container: #394b3a;
    on-secondary-container: #d4e8d1;
    tertiary: #a1ced7;
    tertiary-fixed: #bdeaf3;
    tertiary-fixed-dim: #a1ced7;
    on-tertiary: #00363d;
    on-tertiary-fixed: #001f24;
    on-tertiary-fixed-variant: #1f4d55;
    tertiary-container: #1f4d55;
    on-tertiary-container: #bdeaf3;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #101510;
    surface-alpha: rgba(16, 21, 16, 0.7);
    on-surface: #e0e4dc;
    on-surface-variant: #c1c9be;
    outline: #8b9389;
    outline-variant: #414941;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e4dc;
    inverse-on-surface: #2d322c;
    inverse-primary: #35693f;
    surface-dim: #101510;
    surface-bright: #363a35;
    surface-container-lowest: #0b0f0b;
    surface-container-low: #181d18;
    surface-container: #1c211c;
    surface-container-high: #262b26;
    surface-container-highest: #313630;
}
